<html lang="en">

<head>
    <!-- Do not forget to change the path to the css file -->
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{{title}}</title>
</head>

<body>
    {{#if errors}}
    <div class="error">
        {{#each errors}}
        <p>{{this}}</p>
        {{/each}}
    </div>
    {{/if}}
    {{> header}}
    <main>
        {{{body}}}
    </main>
    {{>footer}}
</body>

</html>