ul {
  padding: 0;
  list-style-type: none;
}

li {
  list-style: none;
  margin-top: 10px;
}

a {
  text-decoration: none;
  list-style-type: none;
}

i {
  width: 25px;
  height: auto;
  align-self: flex-start;
  padding-right: 5px;
}
