@import "../01-settings/settings-colors.scss";
@import "../01-settings/settings-breakpoints.scss";

.c-home-main {
    display: grid;
    grid-template-rows: 302px 573px 232px 550px 908px; //805px 905pxthe rows in the main

    @include for-phone-only {
        display: grid;
        grid-template-rows: 302px 1472px 550px 800px 1450px;
    }

    &__first-steps-section {
        background-color: $blue-400;
    }

    &__program-first-part {
        .o-page-content-wrapper {
            display: grid;
            grid-template-rows: 573px;
            grid-template-columns: 740px 550px;
            align-items: center;

            .program-first-part {
                &__video {
                    justify-self: end;
                }
            }

            @include for-phone-only {
                display: flex;
                flex-flow: column wrap;

                .program-first-part {
                    &__description {
                        margin-top: 550px;
                    }
                    &__video {
                        justify-content: center;
                    }
                }
            }
        }
    }

    &__program-second-part {
        .o-page-content-wrapper {
            display: grid;
            grid-template-rows: 232px;
            grid-template-columns: 635px 30px 635px;

            .program-second-part {
                
                &__program-suitable-for {
                    @include for-phone-only {
                        padding-top: 20px;
                        display: grid;
                        grid-template-columns: 40px 1fr;
                    }
                }
            
                &__dots {
                    @include for-phone-only {
                        display: none;
                    }
                }
               
                &__program-goals {
                    justify-self: end;

                    &--hidden{
                        display: none;
                    }

                    @include for-phone-only {
                        display: none;

                        &--hidden{
                        border-top: 10px dotted $orange-secondary-100;
                        padding-top: 20px;
                        display: grid;
                        grid-template-columns: 40px 1fr;
                        }
                    }
                }
            }

            @include for-phone-only {
                display: flex;
                flex-flow: column wrap;
                height: 537px;
                margin: 30px;
            }
        }
    }

    &__curriculum {
        background-color: $orange-secondary-500;
        position: relative;

        &::before{
            content: "";
            width: 100%;
            height: 100%;
            top: -5px;
            position: absolute;
            border-top: dotted 12px white;
            pointer-events: none;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 5px;
            position: absolute;
            border-bottom: dotted 12px white;
            pointer-events: none;
        }

        .o-page-content-wrapper {
            display: grid;
            grid-template-rows: 550px;
            grid-template-columns: 740px 550px;

            @include for-phone-only {
                display: flex;
                flex-flow: column wrap;
                padding-top: 90px;
            }

            .curriculum{
       
                &__study-schedule {
                    align-self: center;
                }

                &__fields {
                    padding-left: 55px;
    
                    @include for-phone-only {
                        padding: 0;
                    }
                }

                &__schedule-image {
                    align-self: end;
                    justify-self: center;
    
                    @include for-phone-only {
                        display: none;
                    }
                }
            }
        }
    }

    &__additional-information {

        .o-page-content-wrapper {
            display: grid;
            grid-template-rows: 428px 477px;
            grid-template-columns: 640px 10px 640px;

            @include for-phone-only {
                display: flex;
                flex-flow: column wrap;
                padding: 85px 0;
            }

            .additional-information{

                &__additional-info {
                    grid-row: 2/3;
                    grid-column: 3/4;
                    justify-self: end;
                    align-items: flex-start;
    
                    @include for-phone-only {
                        padding-top: 20px;
                    }
                }

                &__certificate {
                    align-self: center;
                    grid-row: 1/2;
                    grid-column: 1/2;
    
                    @include for-phone-only {
                        display: none;
                    }
                }
             
                &__certificate-picture {
                    align-self: center;
                    justify-self: center;
                    grid-row: 1/2;
                    grid-column: 3/4;
    
                    @include for-phone-only {
                        display: none;
                    }
                }

                &__time-location-info {
                    justify-self: start;
                    align-items: flex-start;
                    grid-row: 2/3;
                    grid-column: 1/2;
                }

                &__dots {
                    grid-row: 2/3;
                    grid-column: 2/3;
                    justify-self: center;
                }
            }                    
        }
    }
}

.c-contact-us-main {
    display: grid;
    grid-template-rows: 426px 686px 572px;

    @include for-phone-only {
        display: grid;
        grid-template-rows: 226px 715px 957px;
        grid-template-columns: 375px;
    }

    &__map-section {
        background-image: url("./images/pictures/maps/map.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__form {
        justify-self: center;
        align-self: center;
    }

    &__directions {
        background-color: $orange-secondary-50;
        justify-content: center;
        align-content: center;
        display: grid;
    }
}

.c-trainers-main {
    display: grid;
    grid-template-rows: 256px 548px 10px 1472px 450px;

    @include for-phone-only {
        display: grid;
        grid-template-rows: 375px 1360px 10px 1210px 662px;
    }

    &__trainers-summary {
        background-color: $orange-secondary-600;
    }

    &__top-lectors {
        display: grid;
        justify-content: center;
        align-content: center;

        @include for-phone-only {
            display: flex;
            padding: 60px 0;
        }

        .o-page-content-wrapper {
            display: grid;
            grid-template-rows: 356px;
            grid-template-columns: 1fr 1fr;
            column-gap: 52px;

            @include for-phone-only {
                display: flex;
                flex-flow: row wrap;
            }
        }
    }

    &__division {
        .o-page-content-wrapper {
            border-bottom: 10px dotted $green-primary-50;
        }
    }

    &__all-trainers {
        display: grid;
        align-content: center;

        .o-page-content-wrapper {
            display: grid;
            justify-content: center;
            grid-template-columns: 240px 240px 240px 240px;
            grid-template-rows: 260px 260px 260px 260px;
            column-gap: 86px;
            row-gap: 60px;

            @include for-phone-only {
                display: flex;
                flex-flow: column wrap;
            }

            @include for-phone-only {
                .individual_trainer:nth-child(n + 5) {
                    display: none;
                }
            }
        }
    }

    &__job-openings {
        border-top: 12px solid $blue-200;
        background-color: $blue-300;
        display: grid;
        grid-template-rows: 400px;

        @include for-phone-only {
            display: flex;
        }

        .o-page-content-wrapper {
            align-self: center;
        }
    }
}
