/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
.c-button {
  border: 0;
  background: none;
  border-radius: 100px;
  font-family: "Lato";
}

.c-button--primary {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 14px 32px;
  background: #ff9100;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.c-button--primary:hover {
  color: #ff9100;
  background-color: white;
  border: 1px solid #ff9100;
}

.c-button--primary:active {
  border: 0.5px solid #ff9100;
  color: #ff9100;
  background-color: white;
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(4px);
}

.c-button--primary--small {
  width: 82px;
  height: 36px;
  padding: 10px 22px;
  font-size: 13px;
  line-height: 16px;
}

.c-button--primary--medium {
  width: 140px;
  height: 48px;
}

.c-button--primary--large {
  width: 163px;
  height: 48px;
}

.c-button--secondary {
  font-size: 14px;
  line-height: 16px;
  color: #ff9100;
  border: 1px solid #ff9100;
  background-color: transparent;
  padding: 14px 24px;
  border-radius: 50px;
}

.c-button--secondary:hover {
  color: #FFFFFF;
  border: 1px solid #41bead;
  background-color: #41bead;
}

.c-button--secondary:active {
  border: 0.5px solid green-primary-300;
  color: #FFFFFF;
  background-color: #41bead;
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translateY(4px);
}
