@model FastFood.Web.ViewModels.Categories.EditCategoryInputModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input minlength="03" maxlength="30" asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-primary" asp-controller="Categories" asp-action="All">Back</a>
            </div>
        </form>
    </div>
</div>
