html {
    box-sizing: border-box;
    height: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 15%;
}

section {
    display: flex;  
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 70vw;
}

article {
    margin: 5px;
    align-items: center;
    flex-basis: 30%;
}