@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron mt-3, center-block">
        <center><h1>Welcome to Fast Food App</h1></center>

       
    </div>


    <img src="https://vignette.wikia.nocookie.net/alf/images/9/92/Cat_sandwich.jpg/revision/latest?cb=20110128060130" alt="Fast Food" class="center-block">