<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link rel="stylesheet" href="../../static/css/style.css" / type="text/css">
  </head>

  <body>

    <div id="box">
 {{> header}}
    <main>
        {{{body}}}
    </main>
    {{>footer}}
    </div>
  </body>

</html>