@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

html {
    font-family: Helvetica, serif;
}

p{
    display: inline-block;
    padding: 12px;
    border-radius: 2px;
    margin: 1px, 1px,1px,1px;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p.ClickMe{
    background-color: green;
}

p.EmailMe{
    background-color: orange;
}