.c-revealed-list{
    margin: 0;
    padding:  0;

    @for $i from 1 through 10 {
        li:nth-child(#{$i}){
            animation-delay: #{0.4 * $i}s;
        }
    }

    &__item {
        margin-bottom: 10px;
        opacity: 0;
        transform: translateX(-30px);
        animation: reveal-left 1s ease-out;
        animation-fill-mode: forwards;
    }

    &__link {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
}