.cards--wrapper,
.cards-divider--wrapper {
  margin: 100px 0;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cards .card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 400px;
}

.cards .card:hover {
  cursor: pointer;
}

.cards .card:hover .card__content,
.cards .card:hover .card__footer {
  background-color: #F8F8F8;
}

.cards .card .card__header {
  min-height: 160px;
  color: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
}

.cards .card .card__header--blue {
  background: #44A9F8;
}

.cards .card .card__header--blue .card__label {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
  position: relative;
  text-transform: uppercase;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.cards .card .card__header--blue .card__label--gray {
  background: #676781;
}

.cards .card .card__header--blue .card__label--violet {
  background: #9A5DC6;
}

.cards .card .card__header--green {
  background: #41BEAD;
}

.cards .card .card__header--green .card__label {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 4px 8px;
  width: fit-content;
  position: relative;
  text-transform: uppercase;
  top: 10px;
  left: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.cards .card .card__header--green .card__label--gray {
  background: #676781;
}

.cards .card .card__header .card__title {
  text-align: center;
}

.cards .card .card__content {
  text-align: center;
  padding: 15px 0;
}

.cards .card .card__content .card__info {
  display: inline-block;
  align-items: center;
  width: 40%;
  margin: 5px 0;
}

.cards .card .card__content .card__info .card__info__img {
  position: relative;
  top: 5px;
}

.cards .card .card__footer {
  padding: 20px;
  text-align: center;
}

.cards .card .card__footer::before {
  content: "";
  background: #F1F1F1;
  width: 360px;
  height: 1px;
  display: inline-block;
  position: relative;
  top: -20px;
}

.cards .card .card__footer .card__price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #FC4C50;
  margin-right: 20px;
}
