$green-400: #00AF9B;
$green-300:  #41BEAD;
$green-50: #DFF4F1;

$yellow: rgb(251, 255, 0);

$orange-800: #FF9100;

$grey-buttons-background: rgb(232, 234, 238);
$grey-background: #676781;
$grey-700: #565656;
$grey-500: #919191;
$grey-100: #F1F1F1;
$grey-200: #E6E6E6;
$grey-50: #F8F8F8;

$red: #FF0303;
$red-card-price: #FC4C50;

$blue-end-transform: rgb(2, 1, 255);
$blue-400: #44A9F8;
$blue-50: #E3F3FD;

$purple-background: #9A5DC6;

$white: #FFFFFF;